.ant-btn {
    min-width: auto;
    padding: 4px 8px;
    margin-right: 5px;
}
.ant-input{
    background-color: #5a5a7d;
    color: #2c2c38;
}

.ant-btn:hover{
    background-color: #45455c
}

:where(.css-dev-only-do-not-override-1261szd).ant-btn-variant-solid {
    color:#046719;
    background: #fdfdfd;
}

.ant-drawer-content-wrapper {
    background-color: #2c2c38; 
  }
  
.ant-drawer-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  border-bottom: 1px solid #6c5ce7;
}
  
.ant-drawer-body {
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
    line-height: 1.6;
}
  
.ant-drawer-body p {
    margin-bottom: 16px;
    background-color: #45455c;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
  
.ant-drawer-body strong {
    color: #a5a5ff;
}
  
.ant-drawer-close {
    display: none !important;
}

.ant-drawer-title {
    padding-bottom: 0 !important;
}
.ant-drawer-header {
    border-bottom: none !important;
}